﻿@model WebAtividadeEntrevista.Models.ClienteModel
@{
    ViewBag.Title = "Alterar Cliente";
}

<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")
<div class="modal abrir-modal"></div>

@section scripts{
    <script>
        var urlPost = '@Url.Action("Alterar", "Cliente", new { area = "" })';
        var obj = @Html.Raw(Json.Encode(Model));
        var listaBeneficiario = @Html.Raw(Json.Encode(Model.Beneficiarios));
        var urlRetorno = '@Url.Action("Index", "Cliente", new { area = "" })';
    </script>
    @Scripts.Render("~/bundles/altClientes")
    @Scripts.Render("~/bundles/beneficiario")
    @Scripts.Render("~/bundles/carregar-modal")
}