﻿
@{
    ViewBag.Title = "Cadastrar Cliente";
}

<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")
<div class="modal abrir-modal"></div>

@section scripts{
    <script>
        var urlPost = '@Url.Action("Incluir", "Cliente", new { area = "" })';
        var obj = null;
        var listaBeneficiario = [];
    </script>
    @Scripts.Render("~/bundles/clientes")
    @Scripts.Render("~/bundles/beneficiario")
    @Scripts.Render("~/bundles/carregar-modal")
}